node_modules/.bin/esbuild.cmd
node_modules/.bin/esbuild.ps1
node_modules/.bin/semver.cmd
node_modules/.bin/semver.ps1
node_modules/.bin/spack.cmd
node_modules/.bin/spack.ps1
node_modules/.bin/swc.cmd
node_modules/.bin/swc.ps1
node_modules/.bin/swcx.cmd
node_modules/.bin/swcx.ps1
node_modules/.bin/which.cmd
node_modules/.bin/which.ps1
node_modules/@esbuild/win32-x64/esbuild.exe
node_modules/@esbuild/win32-x64/package.json
node_modules/@esbuild/win32-x64/README.md
node_modules/@swc/core-win32-x64-msvc/package.json
node_modules/@swc/core-win32-x64-msvc/README.md
node_modules/@swc/core-win32-x64-msvc/swc.win32-x64-msvc.node
node_modules/bin-version/node_modules/.bin/node-which.cmd
node_modules/bin-version/node_modules/.bin/node-which.ps1
